<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Student</title>
</head>
<body>
    <form action="" method="post">
        <input type="text" name="name" placeholder="name">
        <input type="text" name="studentCode" placeholder="studentCode">
        <input type="text" name="theoryScore" placeholder="theoryScore">
        <input type="text" name="practiceScore" placeholder="practiceScore">
        <input type="text" name="describe" placeholder="describe">
        <input type="text" name="assessment" placeholder="assessment">
        <input type="text" name="StudentClass" placeholder="StudentClass">
        <button type="submit">Submit</button>
    </form>
</body>
</html>